<div class="users">
    <% @users.each do |user| %>
        <div class="user-container">
            <div class="img user-photo-container">
              <% if user.photo.present? %>
                <%= image_tag user.photo, alt: 'User Photo' %>
              <% else %>
                <div class="fallback-image">
                    <%= content_tag(:span, user.name.first, class: 'initials') %>
                </div>
              <% end %>
            </div>

            <div class="name-counter">
                <a href="/users/<%= user.id %>" class="name-counter">
                    <h1><%= user.name %></h1>
                    <h3 id="post-counter">Number of posts: <%= user.posts_counter %></h3>
                </a>
            </div>
        </div>
        <% end %>
</div>