
<div class="user-id">
    <div class="user-container">
      <div class="img user-photo-container ">
        <% if @user.photo.present? %>
            <%= image_tag @user.photo, alt: 'User Photo' %>
          <% else %>
            <div class="fallback-image">
              <%= content_tag(:span, @user.name.first, class: 'initials') %>
            </div>
        <% end %>
      </div>
      <div class="name-counter">
        <h1> <%= @user.name%> </h1>
        <h3> Number of post: <%= @user.posts_counter%> </h3>
      </div>
    </div>

    <div class="posts-comment">
      <% @posts.includes(:comments).each do |post| %>
         <div class="posts-container">
          <a href="posts/<%= post.id %>">
            <h3> <%= post.title %> </h3>
            <p> <%= post.text%> </p>
            <p class="comments-likes"> Comments: <%= post.comments_counter%>, Likes: <%= post.likes_counter%> </p>
          </a>
        </div>

        <div class="recent-comments">
           <% post.comments.each do |comment| %>
                <p> <%= comment.author.name%>: <%= comment.text%> </p>
            <% end %>
        </div>

      <% end %>
    </div>
    Page count <%= @user.posts.count >= 3 ? (@user.posts.count / 3).round + 1 : 1 %>
</div>