
<section class="posts-comments">
    <div class="single-post-container">
      <div class="heading">
       <div class="title">
          <h1 id="post-title">
            <%= @post.title%> by <%= @post.author.name%>
          </h1>
          <p> Comments: <%= @post.comments_counter%>, Likes: <%= @post.likes_counter%> </p>
       </div>

       <p>
          <%= @post.text%>
       </p>

      <div class="like-comment-btn">
        <% if current_user %>
          <%= form_with(model: @post.likes.build(author_id: current_user.id), url: user_post_likes_path(post_id: @post.id), class: 'like-form', style: 'display: none;') do |form| %>
            <%= form.submit 'Like', class: 'all-posts-btn like-btn' %>
            <% end %>
        <% end %>

        <div>
          <%= link_to 'Comment', new_user_post_comment_path(user_id: current_user.id, post_id: @post.id), class: 'all-posts-btn like-btn' %>
        </div>
      </div>


     </div>
       <div class="comments-container-post">
          <% @comments=Post.find(@post.id).comments %>
            <% @comments.each do |comment| %>
              <p> <%= comment.author.name%>: <%= comment.text%> </p>
          <% end %>
        </div>

    </div>

</section>